**.pyc
.idea/*
dist/*
build/*
electrumsv-sdk/electrumsv_sdk.egg-info/*
electrumsv-sdk/sdk_depends/electrumsv
electrumsv-sdk/sdk_depends/electrumx
electrumsv-sdk/sdk_depends/electrumx_data
*.bat
.vscode/*
electrumsv-server/data
electrumsv-sdk/electrumsv_sdk/run_scripts/proc_ids.json
electrumsv-sdk/electrumsv_sdk/config.json
