**.pyc
*.idea*
electrumsv_sdk.egg-info/*
build/*
dist/*
docs/_build/*
venv/*

electrumsv_sdk/electrumsv_sdk/sdk_depends/electrumsv
electrumsv_sdk/electrumsv_sdk/sdk_depends/electrumx
electrumsv_sdk/electrumsv_sdk/sdk_depends/electrumx_data
.vscode/*
electrumsv-server/data
electrumsv_sdk/electrumsv_sdk/run_scripts/proc_ids.json
electrumsv_sdk/electrumsv_sdk/config.json
electrumsv_sdk/electrumsv_sdk/component_state.json
*.dat
*.zip
electrumsv_sdk/builtin_components/merchant_api/zzz/*
