trigger:
  batch: true
  branches:
    include:
    - master
    - releases/*
    - features/*
  paths:
    exclude: [ 'README.md' ]

jobs:
- job: TestLinux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: 3.7
    - script: |
          sudo apt-get update
          sudo apt-get install libusb-1.0-0-dev libudev-dev
          git clone https://github.com/electrumsv/electrumsv.git
          cd electrumsv
          python3 -m pip install -r contrib/deterministic-build/requirements.txt
          python3 -m pip install -r contrib/deterministic-build/requirements-hw.txt
          python3 -m pip install -r contrib/deterministic-build/requirements-binaries.txt
          python3 -m pip install pysqlite3-binary
      displayName: 'prepare for electrumsv'
      workingDirectory: electrumsv-sdk/
    - script: |
        python3 -m pip install wheel
        python3 -m pip install -e .
        python3 -m pip install pytest pytest-cov
      displayName: 'install sdk'
      workingDirectory: electrumsv-sdk/
    - script: |
        python3 -m pip install -U pylint
        python3 -m pylint --rcfile ./.pylintrc ./electrumsv-sdk
        if [ $? -gt 0 ]
        then
          # https://docs.pylint.org/en/1.6.0/run.html#exit-codes
          echo "##vso[task.complete result=Failed;]DONE"
        fi
      continueOnError: true
      displayName: 'pylint'
    - script: |
        sudo apt-get update
        sudo apt install npm nodejs
      displayName: 'prepare for whatsonchain'
      workingDirectory: electrumsv-sdk/
    - script: |
        electrumsv-sdk start --background --new node
        electrumsv-sdk start --background --new electrumx
        electrumsv-sdk start --background --new electrumsv

        electrumsv-sdk node generate 1
        electrumsv-sdk start --background whatsonchain
      displayName: 'start node, electrumx, electrumsv, whatsonchain'
      workingDirectory: electrumsv-sdk/
    - script: |
        electrumsv-sdk stop node
        electrumsv-sdk stop electrumx
        electrumsv-sdk stop electrumsv
        electrumsv-sdk stop whatsonchain
      displayName: 'stop node, electrumx, electrumsv, whatsonchain'
      workingDirectory: electrumsv-sdk/
    - script: |
        sleep 5
        electrumsv-sdk reset
      displayName: 'reset'
      workingDirectory: electrumsv-sdk/
    - script: |
        sleep 5
        electrumsv-sdk reset --id=node1
        electrumsv-sdk reset --id=electrumx1
        electrumsv-sdk reset --id=electrumsv1
      displayName: 'reset by id'
      workingDirectory: electrumsv-sdk/

- job: TestWindows
  pool: {vmImage: 'windows-latest'}
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: 3.7
        addToPath: true
        architecture: 'x64'
    - pwsh: |
        $scripts_dir = py -3.7 -c "import os, sys, pathlib;print(pathlib.Path(sys.executable).parent.joinpath(r'Scripts'));"
        $env:PATH += $scripts_dir
        py -3.7 -m pip install --upgrade pip
        py -3.7 -m pip install wheel
        py -3.7 -m pip install -e .
        py -3.7 -m pip install pytest pytest-cov
        electrumsv-sdk start --background --new node
        electrumsv-sdk start --background --new electrumx
        electrumsv-sdk start --background --new electrumsv

        electrumsv-sdk node generate 1
        electrumsv-sdk start --background whatsonchain
      displayName: 'start node, electrumx, electrumsv, whatsonchain'
      workingDirectory: electrumsv-sdk/
    - script: |
        electrumsv-sdk stop node
        electrumsv-sdk stop electrumx
        electrumsv-sdk stop electrumsv
        electrumsv-sdk stop whatsonchain
      displayName: 'stop node, electrumx, electrumsv, whatsonchain'
      workingDirectory: electrumsv-sdk/
    - script: |
        sleep 5
        electrumsv-sdk reset
      displayName: 'reset'
      workingDirectory: electrumsv-sdk/
    - script: |
        sleep 5
        electrumsv-sdk reset --id=node1
        electrumsv-sdk reset --id=electrumx1
        electrumsv-sdk reset --id=electrumsv1
      displayName: 'reset by id'
      workingDirectory: electrumsv-sdk/


#- job: TestMacOS
#  pool: {vmImage: 'macOS-10.15'}
#  steps:
#    - script: |
#        python3 -m pip install wheel
#        cd electrumsv-sdk
#        python3 -m pip install -e .
#        cd ..
#        electrumsv-sdk start --background node
#        electrumsv-sdk start --background electrumx
#        electrumsv-sdk start --background --new electrumsv
#        sleep 5
#        electrumsv-sdk stop
#      workingDirectory: electrumsv-sdk/
#      displayName: 'start stop reset macos'


- job: BuildMacOS
  pool: {vmImage: 'macOS-10.15'}
  steps:
    - script: |
        python3 -m pip install --upgrade pip
        python3 -m pip install wheel
        python3 setup.py build bdist_wheel --plat-name macosx_10_5_x86_64 --dist-dir ../wheelhouse
      workingDirectory: electrumsv-sdk/
    - task: PublishBuildArtifacts@1
      inputs:
        artifactName: 'MacOS'
        pathtoPublish: 'wheelhouse'
      displayName: 'build wheel macos'

- job: BuildWindows
  pool: {vmImage: 'windows-latest'}
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: 3.7
    - script: |
        py -3 -m pip install --upgrade pip
        py -3 -m pip install wheel
        py -3 .\setup.py build bdist_wheel --plat-name win-amd64 --dist-dir ../wheelhouse
      workingDirectory: electrumsv-sdk/
    - task: PublishBuildArtifacts@1
      inputs:
        artifactName: 'Windows'
        pathtoPublish: 'wheelhouse'
      displayName: 'build wheel windows'

- job: BuildWindowsx86
  pool: {vmImage: 'windows-latest'}
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: 3.7
        architecture: x86
    - script: |
        py -3 -m pip install --upgrade pip
        py -3 -m pip install wheel
        py -3 .\setup.py build bdist_wheel --plat-name win32 --dist-dir ../wheelhouse
      workingDirectory: electrumsv-sdk/
    - task: PublishBuildArtifacts@1
      inputs:
        artifactName: 'Windowsx86'
        pathtoPublish: 'wheelhouse'
      displayName: 'build wheel windowsx86'

- job: BuildLinux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: 3.7
    - bash: |
        python3 -m pip install --upgrade pip
        python3 -m pip install wheel
        python3 setup.py build bdist_wheel --plat-name manylinux2014_x86_64 --dist-dir ../wheelhouse
      workingDirectory: electrumsv-sdk/
    - task: PublishBuildArtifacts@1
      inputs:
        artifactName: 'Linux'
        pathtoPublish: 'wheelhouse'
      displayName: 'build wheel linux'
